@font-face{
    font-family:'Lobster two';
    font-style:normal;
    font-weight:400;
    src: url('../src/fonts/Lobster_Two/LobsterTwo-Regular.ttf');
}
@font-face{
    font-family:'Material Icons';
    font-style:normal;
    font-weight:400;
    src: url('../src/fonts/MaterialIcons-Regular.ttf');
}

/* INIT */
:root{
    --background-color:#222;
    --main-color:rgb(42, 173, 112);
    --text-color:snow;
    --box-shadow:4px 5px 9px 2px rgba(0, 0, 0, 0.555)

}
*{
    box-sizing: border-box;
}
body{
    margin:0;
    background: var(--background-color);
    overflow-x:hidden ;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
}
a{
    text-decoration: none;
    color:white;
    margin:5px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color:var(--main-color);
    filter:hue-rotate(180deg);
}

/* GENERAL */
input[type="text"]  {
    border:0;
    border-radius: 5px;
    padding:5px;
    outline: none;
    transition: filter .15s ease-out;
}
input[type="text"]:focus:not([name="search-bar"]){
    filter: brightness(40%);
    transition: filter .15s ease-in;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-end: 10px;
}
.main-container{
    max-width:1033px;
}
.btn{
    font-size: 1em;
    border:2px solid transparent;
    border-radius: 5px;
    background: darkgray;
    color:var(--text-color);
    outline:none;
    transition: background .15s ease-out;
    margin:5px;
    /* box-shadow: 4px 4px 0 4px rgba(0, 0, 0, 0.5); */
}
.btn:hover{
    background: var(--main-color);
    /* transform:translate(3px,3px);
    box-shadow: 2px 2px 0 4px rgba(0, 0, 0, 0.5); */
    border-color: white;
    transition: background .15s ease-in, filter .05s ease-out;

}
.btn:active{
    filter: brightness(40%);
    /* transform:translate(7px,7px); */
    transition: filter .05s ease-in;
}
.btn:focus{
    border-color:#222;
}
.main-screen{
    visibility: hidden;
    position:fixed;
    z-index: 5;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: saturate(50%) hue-rotate(20deg) blur(15px);
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.445, 0.05, 0.55, 0.95), visibility 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s ;
    font-family:couri
}

/* HEADER */
header{
    background: var(--main-color);
    width:100%;
    color:var(--text-color);
    margin-block-end: 20px;
    font-size:1rem;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
}
header h1{
    font-size:2.5em;
}
nav ul li a{
    font-size:1.2em;
}




/* SEARCH BAR */
.search{
    margin-block-end: 20px;
}
.search-bar-container{
    position: relative;
    width:50%;
}
.search-bar-container [type="text"]{
    z-index: 2;
    width:100%;
}
.search-btn{
    margin:0;
    z-index: 2;
    position:absolute;
    right:0;
    top:0;
    height:1.545em;
    border-radius: 0 5px 5px 0 ;
}
.search .autocom-box{
    position:absolute;
    z-index: 1;
    width:100%;
    background: #f1f1f1;
    top:1em;
    padding: 0;
    opacity: 0;
    max-height:0;
    pointer-events: none;
    overflow-y: auto;
    transition: max-height .3s ease-out, opacity .3s ease-out;
}

.search.active [name="search-bar"]{
    filter: brightness(40%);
    transition: filter .15s ease-in;
    border-radius:5px 5px 0 0;
}
.search.active .search-btn{
    border-radius: 0 5px 0 0 ;
}
.search.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    max-height: 15em;
    transition: max-height .3s ease-in, opacity .3s ease-in;
}
.autocom-box ul{
    margin:0;
    padding:0;
}
.autocom-box li{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    list-style: none;
    padding: 3px 2px;
    display:none;
    overflow: hidden;
    opacity:0;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}
.autocom-box ul > *:not(:last-child) {
    border-bottom : 2px solid var(--background-color);
}

.search.active .autocom-box li{
    display:block;
    opacity:1;
    transition: display 1ms linear 1s, opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.autocom-box li:hover{
  background: lightgray;
}

/* IMAGE GALLERY */
.image-gallery{
    display:grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows:250px;
    grid-gap: 20px 10px;
    grid-auto-flow: dense;
    margin: 20px 0 ;
}
.img-container{
    position:relative;
}
.meme-img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;

}
.landscape{
    grid-column: auto / span 2;
}
.portrait{
    grid-row: auto / span 2;
}
#saved-memes{
    overflow-y: hidden;
    display: flex;
    height:0;
    transition:height 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
body.saved-memes #saved-memes{
    height:300px;
    transition:height 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.img-modal{
    opacity:0;
    position:absolute;
    height:100%;
    width:100%;
    border-radius: 15px;
    background: rgba(34, 34, 34, 0.178);
    backdrop-filter: blur(15px) grayscale(.8);
    transition:opacity .3s ease-out
}
.img-modal.active{
    opacity:1;
    transition:opacity .3s ease-in
}

.img-btn{
    user-select: none;
    pointer-events: none;
    width:50%;
    height:20%;
}
.img-modal.active .img-btn{
    pointer-events: all;
}
.img-open-btn{
    background: var(--main-color);
    transition: filter .2s ease-out;
}
.img-open-btn:hover{
    filter:hue-rotate(180deg);
    transition: filter .2s ease-in;
}
.img-del-btn{
    background: firebrick;
    z-index: 1;
    height:20%;
    transition: filter .2s ease-out;
}
.img-del-btn:hover{
    background: firebrick;
    filter:brightness(25%);
    transition: filter .2s ease-in;
}

.image-row{
    display:flex;
    overflow: auto;
    box-shadow: inset 0 0 10px 8px black;
    background: rgba(0, 0, 0, 0.5);
}
.saved-image{
    display: inline-flex;
    width:250px;
    flex-direction: column;
    margin:15px 20px;
}

/* MEME EDITOR */

#image-canvas{
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    opacity: 1;
    transition:opacity 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.meme-editor{
    visibility: hidden;
    position:absolute;
    padding: 0 20px;
    z-index: 10;
    width:100%;
    height:800px;
    top:60px;
    opacity: 0;
    transition: opacity .3s cubic-bezier(0.445, 0.05, 0.55, 0.95), visibility 1ms cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s ;
}
body.editor .meme-editor{
    visibility: visible;
    opacity:1;
    transition:opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body.editor .main-screen{
    visibility: visible;
    opacity:1;
    transition:opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.controls{
    margin-left:5px 20px;
    width:85%;
    height:100%;
    font-size: 1.5rem;
    background:gray;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}
.controls .controls-row:last-of-type{
    margin-block-end: 20px;
}
.controls-row{
    width:85%;
}
.controls-row a{
    background: none;
    height:100%;
    margin:0;
}
.control-btn{
    position:relative;
    width:60px;
    height:100%;
    border-radius: 5px;
    margin:5px;
}

.control-group{
    height:60%;
}
.control-btn.active{
    background: var(--main-color);
}

.hidden-color{
    opacity: 0;
    position:absolute;
    height:100%;
    width:100%;
}
#font-size{
    height:60px;
}
#font-family{
    height:100%;
    border:0;
    border-radius: 0 5px 5px 0;
}
label{
    color:rgb(90, 90, 90);
    user-select:none;
}
.slider-label{
    background:darkgray;
    padding:5px;
    border-radius: 5px;
}

.final-btn{
    height:100%;
    margin:5px 5px;
}
.save-btn{
    background:var(--main-color);
    transition: filter .5s ease-in;
}
.save-btn:hover{
    filter:hue-rotate(130deg);
    transition: filter .5s ease-in;
}
.download-btn{
    background:rgb(235, 191, 110);
    transition: filter .5s ease-in, border-color .7s linear;
}
.download-btn:hover{
    background:rgb(235, 191, 110);
    filter:hue-rotate(45deg);
    transition: filter .5s ease-in, border-color .7s linear;
    border-color: white;
}

#text-input{
    margin-top: 20px;
    border-radius: 5px;
    height:3em;
}
.icon-image{
    height:.8em;
    aspect-ratio: 1;
}
.line-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    user-select: none;
    pointer-events: none;
    white-space: nowrap;
    color:transparent;
    transform:translate(-50%,-100%);
    height:1em;
}
.line-modal-content{
    border: 3px solid var(--main-color);
    border-radius: 35px;
    padding:15px;
}


/* FOOTER */
footer{
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-color);
    height:150px;
    width:100%;
    bottom:0;
}
small{
    position:absolute;
}
footer a:first-of-type{
    font-size: 1.2em;
}
small a:first-of-type::before{
    position:absolute;
    font-family: 'Material Icons';
    content:'\e316';
    opacity:0;
    bottom:10px;
}
small a:first-of-type:hover::before{
    transform: translateY(-15px);
    opacity:1;
    display:block;
    transition: transform .2s ease-in, opacity .2s ease-in;
}


/* MEDIA QUERRIES */
@media (max-width:1280px){
    .main-container{
        max-width: 650px;
    }
    .image-gallery{
    grid-template-columns: repeat(auto-fill, 150px);
    grid-auto-rows:150px;
    }
}
@media (max-width:1100px){
    .meme-editor .controls{
        width:100vw;
        margin:5px 0;
    }
    .meme-editor{
        flex-direction:column;
    }
    .control-btn{
        height:45px;
        width:45px;
    }
}
@media (max-width:760px){
    .main-container{
        max-width: 320px
    }
}

.hidden{
    opacity: 0;
    transition:opacity .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* HELPERS */
.flex{
    display: flex;
}
.flex-1{
    flex-grow: 1;
}
.inline-flex{
    display: inline-flex;
}
.column{
    flex-direction: column;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
}
.justify-start{
    justify-content: start;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.margin-auto{
    margin-left:auto;
    margin-right:auto;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.clean-list{
    margin:0;
    list-style:none;
    padding-left:0;
}
.clean-list a{
    color:var(--text-color);
    font-family: 'Lobster Two', cursive;
}
.clean-list a:hover{
    color:var(--main-color);
    filter:hue-rotate(180deg);
}
.clean-list > *{
    color:var(--text-color);
    margin-inline-start: 20px;
}

/* MATERIAL ICONS */
.mi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Material Icons';
    color:black;
}
.mi-search::before{
    content:'\e43f'
}
.mi-remove::before{
    content:'\e15b'
}
.mi-add::before{
    content:'\e145'
}
.mi-down::before{
    content:'\e313'
}
.mi-up::before{
    content:'\e316';
    color:snow;
}
.mi-format-font-size::before{
    content:'\e245';
}
.mi-format-border-size::before{
    content:'\e231';
}
.mi-border-color::before{
    content:'\e22b'
}
.mi-text-color::before{
    content:'\e23a'
}
.mi-font{
    padding:15px;
    background: darkgray;
    border-radius: 5px 0 0 5px;
    border-right:5px solid #222;
    height:100%;
}
.mi-font::before{
    content:'\e23c';
}



